@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gabarito', 'cursive';
}

.main {
    background-color: #d4e3d58f;
    height: 87vh;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.main .about {
    height: 85%;
    width: 50%;
    margin-left: 20px;
    text-align: center;
    line-height: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main img {
    height: 95%;
    width: 50%;
}

.main .about h1 span {
    color: #1da236;
}

.main .about h1 {
    font-size: 50px;
    font-weight: bold;
}

.footer {
    align-items: center;
    justify-content: center;
    color: white;
}